<!DOCTYPE html>
<html>
<head>
  <title>Officers</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'drivers', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <h1>Officer Query Selection</h1>
  <div class="btn-list">
      <a id="qButton" href="#">Top violation issued by officer of each race</a>
      <a id="qButton" href="#">Top violation issued by officer of each gender</a>
      <a id="qButton" href="#">Demographics of officer giving the most violations</a>
      <a id="qButton" href="#">Citations given by officer’s rank</a>
  </div>
</body>
