<!DOCTYPE html>
<html>
  <head>
    <title>FLTSOPP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'welcome', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Florida Traffic Stop Analysis</h1>
    <h4>Choose Trend Analysis Category</h4>
    <div class="Row">
        <a href="/pages/v_query" class="C1"><div>Traffic Violation Analysis</div></a>
        <a href="/pages/demo_query" class="C2"><div>Demographics Analysis</div></a>
        <a href="/pages/gen_query" class="C3"><div>General Trend Analysis</div></a>
    </div>
  </body>


</html>
