<!DOCTYPE html>
<html>
  <head>
    <title>FLTSOPP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'welcome', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Florida Traffic Stop Analysis</h1>
    <h4>Choose Trend Analysis Category</h4>
    <div class="Row">
        <a href="#" class="C1"><div>Drivers</div></a>
        <a href="#" class="C2"><div>Officers</div></a>
        <a href="#" class="C3"><div>Violations</div></a>
        <a href="#" class="C4"><div>Counties</div></a>
    </div>
  </body>


</html>
