<!DOCTYPE html>
<html>
<head>
  <title>Violation</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'drivers', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <h1>Violation Query Selection</h1>
  <div class="btn-list">
      <a id="qButton" href="#">What is the most common violation committed</a>
      <a id="qButton" href="#">How many violations occurred in any given month</a>
      <a id="qButton" href="#">What time of day is a DUI most likely to occur</a>
  </div>
</body>
