<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'about', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <h1>About This Application</h1>
  <div align="center">
    <p>Dataset is obtained from the <a href="https://openpolicing.stanford.edu/">Stanford Open Policing Project.</a></p>
    <p>A user will be able to interact with the data to produce a variety of trends on violation types, drivers and police officers. Produced trends can provide information on violation history evolution, violation frequency, arrest percentages, and percentages of warnings or citations given. Trends can also be produced by categorizing violations by county, by driver’s age/race/gender and by an officer’s age/race/gender/rank. The application will provide useful information to a variety of clients. Counties can use it to help make roads safer, law enforcement agencies can refer to it to find trends that may help reduce crime, and social science researchers will be able to analyze trends related to social conceptions such as race, gender, and age.</p>
  </div>
