<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'demo_query', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Demographics Query Selection</h1>


  </body>
