<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'gen_query', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>General Trend Query Selection</h1>
  </body>
