<!DOCTYPE html>
<html>
<head>
  <title>Drivers</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'drivers', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <h1>Driver Query Selection</h1>
  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.driver_race %></td>
      </tr>
    <% end %>
  </tbody>

</body>
