<!DOCTYPE html>
<html>
<head>
  <title>Drivers</title>
  <%= csrf_meta_tags %>
</head>

<body>
  <h1>Driver Query Selection</h1>
  <div class="dropdown">
    <button class="dropbtn">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
</div>

</body>
