<!DOCTYPE html>
<html>
<head>
  <title>Drivers</title>
  <%= csrf_meta_tags %>
</head>

<body>
  <h1>Query</h1>
  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.driver_race %></td>
      </tr>
    <% end %>
  </tbody>

</body>
