// Place all the styles related to the Drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
  color: white;
}

.btn-list {
  text-align: center;
}

#qButton {
  text-decoration: none;
  display: block;
  background-color: #F8F8F8;
  padding: 5px;
  margin: 5px;
}

div.hidden {
  display: none;
}
