// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
  color: white;
}

p {
  font-size: 20px;
  color: white;
}

.btn-list {
  text-align: center;
}

#qButton {
  text-decoration: none;
  display: block;
  background-color: #F8F8F8;
  color: black;
  padding: 5px;
  margin: 5px;
}

.result {
  height: 500px;
  color: white;
  font-size: 30px;
}
