<!DOCTYPE html>
<html>
<head>
  <title>Counties</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'drivers', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <h1>County Query Selection</h1>
  <div class="btn-list">
      <a id="qButton" href="#">The county with the highest number of violations cited</a>
      <a id="qButton" href="#">The county with the least number of violations cited</a>
      <a id="qButton" href="#">Top 5 counties with most violations overall</a>
      <a id="qButton" href="#">Top 5 counties with most violations for each month</a>
      <a id="qButton" href="#">The top violation type for each county</a>
      <a id="qButton" href="#">County with greatest number of type violation X (X=speeding or X=DUI)</a>
      <a id="qButton" href="#">Top 5 counties with greatest number of violations resulting in arrest</a>
  </div>
</body>
